
/* MY RESPONSIVE */
@media (max-width: 1200px){
    .materi-kanan {
        margin-bottom: 30px;
    }
    .banner-quiz-hasil .banner-left h1,
    .banner-top .banner-left h1 {
        font-size: 30px;
    }
    .btn,
    .prev-materi {
        margin-bottom: 3px;
    }
    .centered-cover {
        margin-left: 10px;
    }
    .partner .row a {
        margin-right: 20px;
    }
    .badge-diskon {
        position: absolute;
        left: 16px;
        top: 16px;
        padding: 6px 15px;
        font-size: 16px;
    }
    .materi-lainnya h3 {
        font-size: 16px;
    }
    .materi-lainnya p {
        font-size: 13px;
    }
}
@media (max-width: 1000px) {
    .nav > li > a{
        padding:20px 7px;
    }
    .banner-quiz-hasil .banner-left,
    .banner-top .banner-left {
        padding: 0;
        position: relative;
        display: block;
        text-align: center;
    }
    .centered-cover {
        margin-left: -10px;
    }
    .img-soal {
        width: 400px;
        height: auto;
    }
    .logo-footer {
        width: 40px;
    }
    .partner h1 {
        text-align: center;
        margin-top: -10px;
        margin-bottom: 30px;
    }
    .logo {
        background: transparent url('../images/merk/footer-logo.png') left center no-repeat;
        background-size: 123px 43px;
        display: inline-block;
        /*height: 43px;*/
        width: 123px;
    }
    .materi-lainnya h3 {
        font-size: 14px;
        font-weight: 500px;
    }
    .materi-lainnya p {
        font-size: 12px;
        font-weight: 500px;
    }
}


@media (max-width: 426px) {
    .logo {
        height: 60px;
        width: 123px;
    }
}

@media (max-width: 768px) {
    .banner-home {
        height: 28em;
    }
    .banner-top {
        padding-bottom: 30px;
    }
    .banner-top .banner-left {
        padding-left: 15px;
    }
    .banner-top .banner-right {
        margin-top: 20px;
    }
    .banner-top .banner-right {
        text-align: center
    }
    .banner-materi img {
        display: block;
        position: relative;
        margin: 0 auto;
    }
    .banner-quiz-hasil .banner-left,
    .banner-top .banner-left {
        padding: 0;
        position: relative;
        display: block;
        text-align: center;
    }
    .daftar, .login {
        border: 0;
    }
    .banner-quiz-hasil .banner-left h1,
    .banner-top .banner-left h1 {
        font-size: 24px;
    }
    .banner-quiz-hasil .banner-left span,
    .banner-top .banner-left span {
        font-size: 18px;
    }
    
    .banner-top .banner-right a {
        height: 40px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 38px;
    }
    .img-soal {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 660px){
    .centered-cover {
        margin-left: 10px;
    }
    .banner-home h1 {
        font-size: 20px;
    }
    .home-materi-list .pagination > li > a {
        height: 35px;
        width: 35px;
        font-size: 14px;
        line-height: 22px;
    }
    .section-qoutes h1 {
        font-size: 24px;
    }
    .section-qoutes h2 {
        font-size: 18px;
        color: #CCC;
    }
    .card {
        margin-bottom: 20px;
    }
    .card p {
        font-size: 16px;
    }
}
@media (max-width: 500px){
    .centered-cover {
        margin-left: -10px;
    }
    .badge-diskon {
        position: absolute;
        left: 16px;
        top: 10px;
        padding: 4px 10px;
        font-size: 11px;
        background: rgba(245, 136, 54, 0.8);
    }
}

@media(min-width: 768px){
    .banner-home {
        height: 40em;
    }
    .banner-top .banner-right {
        text-align: center;
    }
}

@media(min-width: 1200px){
    .banner-home {
        height: 50em;
    }
    .banner-home h1 {
        font-size: 2.3em;
    }
    .banner-home h2 {
        font-size: 1.40em;
    }
    .caption {
        min-height: 100px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 768px) {
    .badge-diskon {
        position: absolute;
        left: 16px;
        top: 16px;
        padding: 5px 15px;
        font-size: 14px;
    }
}