<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Web Serifikasi - Karisma Academy</title>
</head>

<body>
    <header class="top-header"> <!-- HEADER -->
        <div class="container">
            <nav class="navbar navbar-default navbar-custom" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo" href="#"></a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Beranda <span class="arrow-down ti-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tentang Kami <span class="arrow-down ti-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kursus <span class="arrow-down ti-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sertifikat <span class="arrow-down ti-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header> <!-- END OF HEADER -->

    <section class="banner-top"> <!-- BANNER-->
		<div class="container">
            <div class="row">
				<div class="col-md-8 banner-left">
                    <h1>Daftar Sekarang GRATIS</h1>
                    <span>diskusi langsung dengan instruktur</span>
                </div>
                <div class="col-md-4 banner-right">
                    <a href="#">Start Learn</a>
                </div>
            </div>
		</div>
	</section> <!-- End of BANNER-->

    <section class="banner-materi"> <!-- konten Judul -->
		<div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img src="images/photoshop.png">
                </div>
                <div class="col-md-9 col-sm-12">
                    <h1>Desain Manipulasi Foto</h1>
                    <h3>Created by <a href="#">Sugeng Dwi Cahyo</a> <a class="button">Contact</a></h3>
                    <span>Designer &amp; Illustrator Karisma Academy</span>
                </div>
            </div>
		</div>
	</section> <!-- End of konten Judul -->

    <section class="wrap-deskripsi"> <!-- konten -->
		<div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>Deskripsi</h1>
                </div>
                <div class="col-md-12">
                    <p>Fusce condimentum ullamcorper cursus. Aenean fringilla euismod ante nec venenatis. Aliquam sed tincidunt nulla, sed blandit felis. Etiam sed libero eget eros dignissim vehicula. Mauris in tellus nec ex sodales viverra in eget lectus. Sed commodo risus non elit viverra, eget iaculis mi scelerisque. Aenean tincidunt porttitor tortor, vehicula tempus quam volutpat nec. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    <p>Praesent turpis ante, interdum eget posuere at, lacinia id nisi. Nunc blandit lectus nisi, scelerisque feugiat ex pretium at. Donec lobortis enim sed lectus porttitor, elementum scelerisque dolor euismod. Donec tempor lobortis lacus scelerisque sollicitudin. Vestibulum varius mattis massa, vel viverra felis sagittis quis. Suspendisse vel orci vulputate, sollicitudin mi et, scelerisque odio. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                    <p>Phasellus id sodales nibh. Praesent vel gravida massa. Mauris pharetra sollicitudin mi a venenatis. Vestibulum sit amet sem dictum, pulvinar tortor at, venenatis ligula. Etiam elementum auctor metus at semper. Aenean quis eros nec magna volutpat efficitur ac tincidunt lectus. Praesent condimentum mauris eget lectus sodales, sit amet semper nulla posuere. Duis vitae odio eget risus fringilla molestie non eu lacus. Integer nibh risus, euismod ac orci ut, mollis faucibus elit. Ut vitae tristique turpis, a vulputate neque. Duis tempor erat in pretium malesuada. Integer ultrices dignissim orci, vitae pretium ex imperdiet facilisis. Donec vehicula leo ultrices turpis posuere sollicitudin.</p>
                </div>
            </div><!-- End of Row  -->
            
            <div class="row">
                <div class="col-md-4">
                    <h1>Materi Manipulasi Foto</h1>
                </div>
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="more-less glyphicon glyphicon-plus"></i> Daftar Video Tutorial Manipulation Foto "While Float Kingdom"
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <div class="media">
                                        <a data-toggle="modal" href="#youtube">
                                            <div class="media-left"><i class="fa fa-youtube"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                        <!-- Modal Youtube -->
                                        <div class="modal modal-center fade" id="youtube" role="dialog">
                                            <div class="modal-dialog modal-dialog-center" style="width: 50%">
                                                <div class="modal-content modal-content-youtube">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-judul">In A Professional Context It Often Happens</h4>
                                                    </div>
                                                    <div class="wrap-video embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/95q_npbZQ5o" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- End of Modal Youtube -->
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-align-left"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-align-left"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-check-square-o"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <i class="more-less glyphicon glyphicon-plus"></i> Daftar Video Tutorial Manipulation Foto "While Float Kingdom"
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-youtube"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-align-left"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-align-left"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-check-square-o"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="more-less glyphicon glyphicon-plus"></i> Daftar Video Tutorial Manipulation Foto "While Float Kingdom"
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-youtube"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-align-left"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-align-left"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="media">
                                        <a href="#">
                                            <div class="media-left"><i class="fa fa-check-square-o"></i></div>
                                            <div class="media-body">
                                                <p>In A Professional Context It Often Happens That Private Or Corporate Clients Corder</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- panel-group -->
                </div>
            </div><!-- End of Row  -->
            
            <div class="row">
                <div class="col-md-4">
                    <h1>Materi Lainnya</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="thumbnail materi-lainnya">
                            <a href="#">
                                <span class="badge-diskon">Diskon 25%</span>
                                <img src="images/isi1.jpg" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <h3>Cara Cepat Belajar Manipulation Tanpa . . .</h3>
                                    <p>Pelajari lebih lanjut ...</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="thumbnail materi-lainnya">
                            <a href="#">
                                <span class="badge-diskon">Diskon 50%</span>
                                <img src="images/isi2.jpg" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <h3>Dasar-dasar Arsitektur Tanpa Kuliah . . .</h3>
                                    <p>Pelajari lebih lanjut ...</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="thumbnail materi-lainnya">
                            <a href="#">
                                <span class="badge-diskon">Diskon 30%</span>
                                <img src="images/isi3.jpg" alt="Lights" style="width:100%">
                                <div class="caption">
                                    <h3>Mudahnya Modelling 3D Menggunakan . . .</h3>
                                    <p>Pelajari lebih lanjut ...</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- End of Row  -->
		</div>
	</section> <!-- End of konten-->

    <section id="bawah">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 sosial-icon" align="center">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-1" style="margin-right:45px"></div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-envelope"></i>&nbsp; Email
                    <br><br>
                    <p>info@karismaacademy.com</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-map-marker"></i>&nbsp; Alamat Kantor
                    <br><br>
                    <p>Jl. Watu Gong No.18, Ketawanggede, Kec. Lowokwaru, Kota Malang, Jawa Timur 65145</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-phone"></i>&nbsp; Kontak
                    <br><br>
                    <p>(0341) 2995599</p>
                    <p>085 731 444 767</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row vertical-middle">
                <div class="col-lg-8 col-md-7 col-sm-5 col-xs-2 vertical-middle">
                    <a class="logo-footer" href="#" ></a>
                    <span class="hidden-xs" style="margin-left: 20px">&copy; 2018 All Right Reserved</span>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-7 col-xs-10 text-right">
                    <a href="#">Syarat dan Ketentuan</a>
                    <a href="#">Privasi</a>
                    <a href="#">Kontak</a>
                    <a href="#">Media</a>
                </div>
            </div>
        </div>
    </footer>

    
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.CustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/my-collapse.js"></script>
</body>
</html>