<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Web Serifikasi - Karisma Academy</title>
</head>

<body>
    <!-- Sidebar Menu -->
    <div class="overlay"></div>
    <nav id="sidebar">
        <div id="dismiss">
            <span class="ti-close"></span>
        </div>

        <div class="sidebar-header">
            <img src="images/header-logo.png" width="250px" height="38px" alt="Karisma Academy">
        </div>

        <ul class="list-unstyled components">
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Kelas</a></li>
            <li><a href="#">Quiz</a></li>
            <li><a href="#">Tanya Jawab</a></li>
        </ul>
    </nav> <!-- Sidebar Menu -->
    
    <header class="top-header"> <!-- HEADER -->
        <div class="container">
            <nav class="navbar navbar-default navbar-custom" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <button type="button" id="sidebarCollapse" class="open-sidebar">
                            <span class="ti-menu"></span>
                        </button>
                        <a class="navbar-brand logo" href="#"></a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Aktifitas</a></li>
                            <li><a href="#">Peserta</a></li>
                            <li><a href="#">Tanya Jawab</a></li>
                            <li><a href="#">Quiz</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Firdaus <span class="arrow-down ti-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header> <!-- END OF HEADER -->

    <section> <!-- konten-->
		<div class="container fixed-top">
            <div class="row">
                 <!-- Sub Materi Kanan -->
				<div class="col-lg-4 col-md-5 col-sm-5" style="float: right">
                    <span class="judul-header">Materi</span>
                    
                    <span class="judul-materi"> <!-- Materi 1 -->
                        <b>BAB 1 : </b> Daftar Video Tutorial Manipulation Foto "While Float Kingdom"
                    </span>
                    
                    <div class="wrap-media-list">
                        <a class="media-link active" href="isi_konten_a.html">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-youtube"></i>
                                </div>
                                <div class="media-body">
                                    <span>1.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Video</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="isi_konten_b.html">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-align-left"></i>
                                </div>
                                <div class="media-body">
                                    <span>2.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Teks</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-align-left"></i>
                                </div>
                                <div class="media-body">
                                    <span>3.</span>
                                    <h4>In a Professional Context it Often With Professional Tools</h4>
                                    <small>Tipe Teks</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="isi_konten_c.html">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-check-square-o"></i>
                                </div>
                                <div class="media-body">
                                    <span>4.</span>
                                    <h4>In a Professional Context it Often With Professional Tools</h4>
                                    <small>Tipe Soal</small>
                                </div>
                            </div>
                        </a>
                    </div> <!-- End Materi 1 -->
                    
                    <span class="judul-materi"> <!-- Materi 2 -->
                        <b>BAB 2 : </b> Daftar Video Tutorial Manipulation Foto "While Float Kingdom"
                    </span>
                    
                    <div class="wrap-media-list">
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-youtube"></i>
                                </div>
                                <div class="media-body">
                                    <span>5.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Video</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-align-left"></i>
                                </div>
                                <div class="media-body">
                                    <span>6.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Teks</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-align-left"></i>
                                </div>
                                <div class="media-body">
                                    <span>7.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Teks</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-check-square-o"></i>
                                </div>
                                <div class="media-body">
                                    <span>8.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Soal</small>
                                </div>
                            </div>
                        </a>
                    </div> <!-- End Materi 2 -->
                    
                    <span class="judul-materi"> <!-- Materi 3 -->
                        <b>BAB 3 : </b> Daftar Video Tutorial Manipulation Foto "While Float Kingdom"
                    </span>
                    <div class="wrap-media-list">
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-youtube"></i>
                                </div>
                                <div class="media-body">
                                    <span>9.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Video</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-align-left"></i>
                                </div>
                                <div class="media-body">
                                    <span>10.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Teks</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-align-left"></i>
                                </div>
                                <div class="media-body">
                                    <span>11.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Teks</small>
                                </div>
                            </div>
                        </a>
                        <a class="media-link" href="#">
                            <div class="media">
                                <div class="media-left">
                                    <i class="fa fa-check-square-o"></i>
                                </div>
                                <div class="media-body">
                                    <span>12.</span>
                                    <h4>In a Professional Context it Often</h4>
                                    <small>Tipe Soal</small>
                                </div>
                            </div>
                        </a>
                    </div> <!-- End Materi 3 -->
                </div> <!-- End Of List Materi -->
                
				<div class="col-lg-8 col-md-7 col-sm-7 materi" style="float: left">
                    <div class="wrap-video embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/95q_npbZQ5o" allowfullscreen></iframe>
                    </div>
                    
                    <div class="row wrap-materi">
                        <div class="col-lg-7 col-md-7">
                            <span class="materi-no">1.</span>
                            <span class="judul-submateri">IN A PROFESSIONAL CONTEXT IT OFTEN HAPPENS THAT PRIVATE OR CORPORATE CLIENTS CORDER</span>
                        </div>
                        <div class="col-lg-5 col-md-5 wrap-button-materi">
                            <button class="btn btn-default">
                                <span class="ti-more-alt"></span> Pertanyaan
                            </button>
                            <button class="btn btn-default">
                                <span class="ti-user"></span> Peserta
                            </button>
                        </div>
                    </div>
                    
                    <div class="row wrap-detail-materi">
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 text-right">
                            <img class="centered-cover" src="images/photoshop.png" alt="Logo Materi">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                            <h3>Desain Manipulasi Foto</h3>
                            <span class="badge">12 Materi</span>
                            <span class="badge">50 Peserta</span>
                            <p>Oleh <a href="">Putra Daroini</a> . 12/02/2018</p>
                        </div>
                        <div class="col-lg-5 col-md-4 col-sm-4 col-xs-12">
                            <ul class="pager">
                                <li><a href="#" class="prev-materi"><span class="ti-angle-left"></span> Sebelumnya</a></li>
                                <li><a href="#" class="next-materi">Selanjutnya <span class="ti-angle-right"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</section> <!-- End of konten-->

    <section id="bawah">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 sosial-icon" align="center">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-1" style="margin-right:45px"></div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-envelope"></i>&nbsp; Email
                    <br><br>
                    <p>info@karismaacademy.com</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-map-marker"></i>&nbsp; Alamat Kantor
                    <br><br>
                    <p>Jl. Watu Gong No.18, Ketawanggede, Kec. Lowokwaru, Kota Malang, Jawa Timur 65145</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-phone"></i>&nbsp; Kontak
                    <br><br>
                    <p>(0341) 2995599</p>
                    <p>085 731 444 767</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row vertical-middle">
                <div class="col-lg-8 col-md-7 col-sm-5 col-xs-2 vertical-middle">
                    <a class="logo-footer" href="#" ></a>
                    <span class="hidden-xs" style="margin-left: 20px">&copy; 2018 All Right Reserved</span>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-7 col-xs-10 text-right">
                    <a href="#">Syarat dan Ketentuan</a>
                    <a href="#">Privasi</a>
                    <a href="#">Kontak</a>
                    <a href="#">Media</a>
                </div>
            </div>
        </div>
    </footer>

    
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.CustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/my-sidebar.js"></script>
</body>

</html>