<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Web Serifikasi - Karisma Academy</title>
</head>

<body>
    <!-- Sidebar Menu -->
    <div class="overlay"></div>
    <nav id="sidebar">
        <div id="dismiss">
            <span class="ti-close"></span>
        </div>

        <div class="sidebar-header">
            <img src="images/header-logo.png" width="250px" height="38px" alt="Karisma Academy">
        </div>

        <ul class="list-unstyled components">
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Kelas</a></li>
            <li><a href="#">Quiz</a></li>
            <li><a href="#">Tanya Jawab</a></li>
        </ul>
    </nav> <!-- Sidebar Menu -->
    
    <header class="top-header"> <!-- HEADER -->
        <div class="container">
            <nav class="navbar navbar-default navbar-custom" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <button type="button" id="sidebarCollapse" class="open-sidebar">
                            <span class="ti-menu"></span>
                        </button>
                        <a class="navbar-brand logo" href="#"></a>
                    </div>

                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Aktifitas</a></li>
                            <li><a href="#">Peserta</a></li>
                            <li><a href="#">Tanya Jawab</a></li>
                            <li><a href="#">Quiz</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Firdaus <span class="arrow-down ti-angle-down"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header> <!-- END OF HEADER -->

    <section class="fixed-top"> <!-- konten-->
		<div class="container">
            <div class="row">
                <!-- Sub Materi Kiri -->
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="float: left">
                    <div class="row wrap-quiz">
                        <div class="col-lg-7 col-md-7">
                            <h1>Quiz 1 Materi Selection Tool</h1>
                            <div class="row">
                                <table class="table table-my table-striped" style="width: 95%">
                                    <tbody><tr>
                                        <td width='35%'>Instruktur</td>
                                        <td>: <a href="#">Putra Daroini</a></td>
                                    </tr>
                                    <tr>
                                        <td>Durasi</td>
                                        <td>: 5 Menit</td>
                                    </tr>
                                    <tr>
                                        <td>Jumlah Soal</td>
                                        <td>: 5 Soal</td>
                                    </tr>
                                    <tr>
                                        <td>Jenis Soal</td>
                                        <td>: Pilihan Ganda</td>
                                    </tr></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <h1>Progress</h1>
                            <div class="archive-group">
                                <span class="active">Melihat</span>
                                <span>Mengerjakan</span>
                                <span>Coba 100 Kali</span>
                            </div>
                            <br/>
                            <button class="btn btn-quiz btn-block">
                                <i class="fa fa-check-square-o"></i> Mulai mengerjakan
                            </button>
                            <br/><br/>
                        </div>
                    </div>
                    
                    <!-- WRAP DETAIL MATERI -->
                    <div class="row wrap-detail-materi">
                        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 text-right">
                            <img class="centered-cover" src="images/photoshop.png" alt="Logo Materi">
                        </div>
                        <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10">
                            <h3>Desain Manipulasi Foto</h3>
                            <span class="badge">12 Materi</span>
                            <span class="badge">50 Peserta</span>
                            <p>Oleh <a href="">Putra Daroini</a> . 12/02/2018</p>
                        </div>
                    </div>
                </div>
                
                <!-- Peserta Kanan -->
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="float: right">
                    <span class="judul-header">
                        Hasil Test
                        <p>dari 25 peserta di Kelas</p>
                    </span>
                    
                    <ul class="peserta-list">
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="blue">N</span>
                            </div>
                            <div class="wrap-center">
                                Nur Rohman
                                <p>at 20 November 2017</p>
                            </div>
                            <span class="nilai">85</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <img class="user-male" src="images/user-male.png">
                            </div>
                            <div class="wrap-center">
                                Agus Budiyanto
                                <p>at 18 Desember 2017</p>
                            </div>
                            <span class="nilai">89</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="red">E</span>
                            </div>
                            <div class="wrap-center">
                                Elma
                                <p>8 January 2018</p>
                            </div>
                            <span class="nilai">82</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <img class="user-female" src="images/user-female.png">
                            </div>
                            <div class="wrap-center">
                                Fitri Handayani
                                <p>15 February 2018</p>
                            </div>
                            <span class="nilai">84</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="blue">N</span>
                            </div>
                            <div class="wrap-center">
                                Nur Rohman
                                <p>at 20 November 2017</p>
                            </div>
                            <span class="nilai">85</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="blue">A</span>
                            </div>
                            <div class="wrap-center">
                                Agus Budiyanto
                                <p>at 18 Desember 2017</p>
                            </div>
                            <span class="nilai">89</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="red">E</span>
                            </div>
                            <div class="wrap-center">
                                Elma
                                <p>8 January 2018</p>
                            </div>
                            <span class="nilai">82</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="red">F</span>
                            </div>
                            <div class="wrap-center">
                                Fitri Handayani
                                <p>15 February 2018</p>
                            </div>
                            <span class="nilai">84</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="blue">N</span>
                            </div>
                            <div class="wrap-center">
                                Nur Rohman
                                <p>at 20 November 2017</p>
                            </div>
                            <span class="nilai">85</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="blue">A</span>
                            </div>
                            <div class="wrap-center">
                                Agus Budiyanto
                                <p>at 18 Desember 2017</p>
                            </div>
                            <span class="nilai">89</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="red">E</span>
                            </div>
                            <div class="wrap-center">
                                Elma
                                <p>8 January 2018</p>
                            </div>
                            <span class="nilai">82</span>
                        </a></li>
                        <li><a href="#">
                            <div class="wrap-left">
                                <span class="red">F</span>
                            </div>
                            <div class="wrap-center">
                                Fitri Handayani
                                <p>15 February 2018</p>
                            </div>
                            <span class="nilai">84</span>
                        </a></li>
                    </ul> <!-- End Peserta -->
                </div>
            </div>
		</div>
	</section> <!-- End of konten-->

    <section id="bawah">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 sosial-icon" align="center">
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-youtube-play"></i>
                    </a>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-1" style="margin-right:45px"></div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-envelope"></i>&nbsp; Email
                    <br><br>
                    <p>info@karismaacademy.com</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-map-marker"></i>&nbsp; Alamat Kantor
                    <br><br>
                    <p>Jl. Watu Gong No.18, Ketawanggede, Kec. Lowokwaru, Kota Malang, Jawa Timur 65145</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 center-block">
                    <i class="fa fa-phone"></i>&nbsp; Kontak
                    <br><br>
                    <p>(0341) 2995599</p>
                    <p>085 731 444 767</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row vertical-middle">
                <div class="col-lg-8 col-md-7 col-sm-5 col-xs-2 vertical-middle">
                    <a class="logo-footer" href="#" ></a>
                    <span class="hidden-xs" style="margin-left: 20px">&copy; 2018 All Right Reserved</span>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-7 col-xs-10 text-right">
                    <a href="#">Syarat dan Ketentuan</a>
                    <a href="#">Privasi</a>
                    <a href="#">Kontak</a>
                    <a href="#">Media</a>
                </div>
            </div>
        </div>
    </footer>

    
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.CustomScrollbar.min.js"></script>
    <script type="text/javascript" src="js/my-sidebar.js"></script>
</body>
</html>