/* Custom CSS */
body {
	font-family: 'Segoe UI';
	font-size: 14px;
}
label {
    font-weight: 500;
}
.btn {
	outline: none !important;
    transition: all .2s ease-in-out;
}
.panel-group, .tab-peserta{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.nav > li > a:focus,
.nav > li > a:hover {
    transition: all 0.2s linear;
	color: #FFF;
	background: none;
}
.col-center {
	margin: 0 auto;
	float: none;
}
.input-group {
	margin-bottom: 10px;
}
.form-control-feedback {
	left: 4px;
	color: #888;
    font-size: 17px;
}


.navbar{
    margin:5px 0;
}
.navbar-default {
    background-color: transparent;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
    background: none;
}
.navbar-default .navbar-nav > li > a {
	color: #BBB;
    font-size: 13px ;
    font-weight: 600;
	background: none;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
    color: #FFF;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 5px;
}
.nav > li > a{
    padding:10px;
}
.dropdown-menu li > a {
    padding: 8px 20px;
    transition: all 0.1s linear;
}
.dropdown-menu li > a:hover {
    /*background: #E5E5E5;*/
    background: rgba(16,23,29,0.90);
    color: #FFF;
}
.dropdown-menu .divider {
    margin: 3px 0;
}
/*//cart*/
.dropdown-menu li.cart-dropdown{
    text-transform: initial !important;
}
.dropdown-menu li.cart-dropdown > a {
    padding: 0 5px;
    transition: all 0.1s linear;
}
.dropdown-menu li.cart-dropdown > a:hover {
    /*background: #E5E5E5;*/
    background: #c6e5f7;
    color: #93bc3a;
}
.thumb-cart {
    display: inline-block;
    width: 20px;
    height: 60px;
    margin: 5px;
    border-radius: 3px;
    object-fit: cover;
    /*border: 3px solid #c99;*/
    background-position: center center;
    background-size: cover;
}
.cart-judul {
    font-size: 11pt;
    padding: 0px;
    padding-top: 10px;
    margin-bottom: -10px;
}
/*//cart end*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: #BBB;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #888;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 3px;
}
.navbar-brand {
    padding: 0;
    height: 60px;
    line-height: 80px;
}
.navbar-toggle {
    margin-top: 12.5px;
    padding: 9px 10px !important;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: 20px;
    }
    .btn-continue:link {
        margin-top: 60px !important;
    }
    .banner-top .banner-left,
    .banner-bottom .banner-left {
        padding-left: 65px;
    }
}


/* MODAL CENTER */
.modal-center {
    text-align: center;
    padding: 0!important;
}
.modal-center:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-dialog-center {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-content-youtube {
    padding: 0 15px;
    border-radius: 0;
}
.modal-header {
    padding-left: 0;
    padding-right: 0;
}
.modal-judul {
    color: #666;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: solid 1px #EEE !important;
}
/* MODAL QUIZ */
.quiz-waktu {
    float: right;
    margin-right: 15px;
    color: #E79026;
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
}
.quiz-waktu .ti-time {
    font-size: 22px;
}
.modal-quiz {
    text-align: center;
    padding: 0!important;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.9);
}
.modal-content-quiz {
    padding: 0;
    border-radius: 0;
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    border: none;
}
.modal-content-quiz h4 {
    position: relative;
    top: -8px;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
    border-bottom: none !important;
}
.modal-dialog-quiz {
    width: 80%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-dialog-quiz .modal-header {
    border-bottom: solid 1px #999;
    padding: 15px 15px 0 15px;
}
.modal-konten {
    margin: 15px 15px;
}
.modal-konten .badge {
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 10px;
}
.modal-footer {
    margin: 0;
    border-top: solid 1px #999;
    border-bottom: solid 8px #0679B0;
}
.modal-footer .pagination,
#soal-footer .pagination {
    margin: 0;
}
.modal-footer .pagination > li > a,
#soal-footer .pagination > li > a {
    width: 30px;
    height: 30px;
    font-weight: 600;
    line-height: 15px;
    border-radius: 0;
    margin: 0 3px;
    padding-left: 10px;
    border-color: #CCC;
    color: #444;
}
.modal-footer .pagination > li > a:hover,
#soal-footer .pagination > li > a:hover {
    background: #E2E2E2;
}
.modal-footer .pagination > .active > a,
.modal-footer .pagination > .active > a:hover,
.modal-footer .pagination > .active > a:focus,
.modal-footer .pagination > li > a:focus,
#soal-footer .pagination > .active > a,
#soal-footer .pagination > .active > a:hover,
#soal-footer .pagination > .active > a:focus,
#soal-footer .pagination > li > a:focus {
    background: #F58634;
    border-color: #F58634;
    color: #FFF;
}
.modal-footer .pagination > .none > a,
#soal-footer .pagination > .none > a {
    display: none;
}
.modal-footer .pagination > .next > a,
#soal-footer .pagination > .none > a {
    margin-right: 20px;
}
.modal-footer .pagination > .prev > a,
#soal-footer .pagination > .none > a {
    margin-left: 20px;
}
.pertanyaan p {
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.6;
}
.jawaban ul {
    margin: 10px 0 0 0;
    padding: 0;
}
.jawaban ul li {
    list-style: none;
    margin-bottom: 2px;
}
.jawaban .btn-group > .btn-primary {
    margin:2px 0;
    color: #000;
    height: 45px;
    padding-left: 10px;
    border-radius: 3px !important;
    line-height: 225%;
    font-weight: 400;
    display: block;
    outline: 0;
    transition: all .2s linear;
}
.jawaban .btn-group {
    margin: 10px 0 0 0;
}
.jawaban .btn-group > .btn-primary.active {
    color:white;
}
.jawaban .btn-group > .btn-primary.focus:not(.active){
    background:none;
    color:black;
    box-shadow:none;
}
.jawaban .btn-group > .btn-primary:hover {
    text-decoration: none;
    background: #E9AF45;
}
.jawaban .btn-group > .btn-primary:focus {
    text-decoration: none;
    /*background: #AAA;*/
    background: #337ab7;
    color: #FFF;
}
.jawaban .btn-group > .btn-primary.focus:hover {
    background: #E9AF45 !important;
}
.jawaban li span {
    width: 20px;
    display: inline-block
}
.jawaban li p {
    display: inline-block
}

/* JAWABAN STYLE LABEL */
.jawaban label {
    list-style: none;
    background:none;
    text-align:left;
    border:none;
    margin-bottom: 2px;
    color: #000;
    height: 45px;
    padding-left: 10px;
    border-radius: 3px;
    font-weight: 400;
    display: block;
    outline: 0;
    transition: all .2s linear;
}
.jawaban label:focus {
    text-decoration: none;
    /*background: #AAA;*/
    background: #337ab7;
    color: #FFF;
}
.jawaban label:hover {
    text-decoration: none;
    background: #E9AF45;
}
.jawaban li span {
    width: 20px;
    display: inline-block
}
.jawaban li p {
    display: inline-block
}
.jawaban .badge {
    margin-left: 10px;
}

/* TABLE CUSTOM CSS */
.table-my {
    border: solid 1px #f3f3f3;
}
.table-my > tbody > tr > td {
    border-color: #f3f3f3;
    padding: 15px 18px;
    font-size: 14px;
    font-weight: 500;
}
.table-my a:link, 
.table-my a:visited, 
.table-my a:focus {
    color: #0579B2;
    text-decoration: none;
    border-bottom: solid 1px #0579B2;
}
.table-my a:hover {
    color: #044E71;
    border-bottom: solid 1px #044E71;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.table-quiz {
    margin-top: 25px;
    cursor: default;
}
.table-hasil {
    margin-top: 15px;
    cursor: default;
}
.table-quiz > thead > tr > th,
.table-quiz > tfoot > tr > td,
.table-hasil > thead > tr > th,
.table-hasil > tfoot > tr > td {
    color: #FFF;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
    padding: 12px 6px !important;
    border-bottom: 0;
    border-top: 0;
}
.table-quiz > thead > tr > th,
.table-quiz > tbody > tr > td,
.table-hasil > thead > tr > th,
.table-hasil > tfoot > tr > td {
    padding: 10px 6px;
}
.table-quiz > tbody > tr > td,
.table-hasil > tbody > tr > td {
    border: solid 1px #f3f3f3;
    border-bottom: 0;
    border-top: 0;
}
.table-quiz > tbody > tr:nth-of-type(even),
.table-hasil > tbody > tr:nth-of-type(even) {
  background-color: #F1F1F1;
}
.table-quiz tbody tr td:nth-child(1),
.table-hasil tbody tr td:nth-child(1) {
    display: table-cell;
    text-align: right;
    width: 22px;
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}
.table-quiz tbody tr td:nth-child(2),
.table-hasil tbody tr td:nth-child(2) {
    border-left: 0;
}
.table-quiz tbody tr td:nth-child(4),
.table-hasil tbody tr td:nth-child(4) {
    vertical-align: middle;
}
.table-quiz .null,
.table-hasil .null {
    color: #BBB !important;
}
.table-riwayat {
    margin-top: 15px;
    color: #777;
    font-size: 12px;
}
.table-riwayat > tbody > tr > td {
    border: 0;
    vertical-align: middle;
}
.table-riwayat a {
    text-decoration: none;
    color: #777;
}
.table-riwayat a:hover,
.table-riwayat a:focus {
    color: #333;
}

/* WARNA TABEL */
.hasil-hijau > thead > tr > th,
.hasil-hijau > tfoot > tr > td {
    background: #93BC3C;
    border: solid 1px #93BC3C;
    border-top: 0;
}
.hasil-merah > thead > tr > th,
.hasil-merah > tfoot > tr > td {
    background: #E74B3C;
    border: solid 1px #E74B3C;
    border-top: 0;
}
