/* -- PLUGIN: TinyMCE Toolbar CSS -- */
.mce-btn-group:last-child {
	float:right;
	border-left: none;
}

/* -- PLUGIN: Datatable Select Box -- */
div.dataTables_wrapper div.dataTables_length select {
	height: 40px;
}

.sidebar-header {
	text-transform: uppercase;
	font-weight: bolder;
	opacity: .7;
	margin: 10px 15px 0 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}



/* -- Custom CSS -- */

.text-turquoise{
	color:#16a085 !important;
}

.btn-turquoise.btn-fill {
	color: #FFFFFF;
	background-color: #16a085;
	opacity: 1;
	filter: alpha(opacity=100);
}
.btn-turquoise.btn-fill:hover, .btn-turquoise.btn-fill:focus, .btn-turquoise.btn-fill:active, .btn-turquoise.btn-fill.active, .open > .btn-turquoise.btn-fill.dropdown-toggle {
	background-color:#35ac95;
	color:#FFFFFF;
}
.sidebar .sidebar-wrapper{
	overflow-x:hidden;
}
.nav .sub-nav li a{
	padding-left:60px;
	padding-right:0;
	margin-right:10px;
}

/* Custom Learning */
.sort-link:link {
    transition: all .2s linear;
}
.sort-link:hover {
    color: #219CD1;
}


/* -- Dashboard -- */
@media screen and (max-width:640px){
	.tab-dashboard > li{
		float: none;
	}
	.tab-dashboard > li.pull-right{
		float: none!important;
		margin-top: 10px;
	}
	.tab-dashboard > li > a {
		padding-left: 0;
		border-left: none;
		border-right: none;
		border-top: none;
		border-radius: 0;
	}
	.tab-dashboard .open > a,
	.tab-dashboard .open > a:focus,
	.tab-dashboard .open > a:hover {
		background-color: #fff;
	}
}
