.menu-large {
	position: static !important;
}
.center{
		text-align: center;
}
.p10{
		padding: 10px;
}
.ptb0rl10{
		padding: 0px 10px;
}
.bgw{
		background-color: #fff;
}
.option-style {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-image: url("../images/sprites/dropdown.jpg");
		background-repeat: no-repeat;
		background-position: 100% 100%;
		background-size: auto 100%;
		width: 70px;
		height: 27px;
		margin-right: 10px;
		border: none;
		padding:0 5px;
}

.bayar-table {
	margin: 25px 0 0; }
	.bayar-table table thead tr {
		background: url("../../pg_user/images/background/bg-reason.png") #1abc9c;
		background-size: 20%;
		text-transform: uppercase;
		color: #ffffff; }
	.bayar-table table th {
		padding-left: 25px !important; }
	.bayar-table tbody tr {
		background-color: #F5F5F5;
		color: #787878; }
		.bayar-table tbody tr td {
			padding: 12px 25px 8px; }
			.bayar-table tbody tr td:nth-child(4) {
				padding: 8px 25px 8px; }
	.bayar-table .table-striped > tbody > tr:nth-of-type(2n+1) {
		background-color: #D2ECE7; }
	.bayar-table .table > thead > tr > th, .bayar-table .table > tbody > tr > th, .bayar-table .table > tfoot > tr > th, .bayar-table .table > thead > tr > td, .bayar-table .table > tbody > tr > td, .bayar-table .table > tfoot > tr > td {
		border: none; }
	.bayar-table.blue table thead tr {
		background-image: url("../images/sprites/titleBGBlue.jpg"); }
	.bayar-table.blue table tbody tr {
		background-color: #baedf9; }
	.bayar-table.blue .table-striped > tbody > tr:nth-of-type(2n+1) {
		background-color: #e4faff; }

.bayar-wrapper {
	padding: 110px 12% 65px;
	background-color: #ffffff; }


.btn-bayar {
	display: block;
	margin: 0 auto;
	border: none;
	text-transform: uppercase;
	padding: 7px 25px; }

/*INVOICE - user_bayar.php*/
.page.bayar {
	background-color: #ffffff;
	overflow: hidden;
	padding: 45px 10% 75px; }

.btn-cetak {
	float: right;
	background:#1abc9c;
	margin: -60px 4% 0 0;
	border: 1px solid #0f947a;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 5px 18px; }
	.btn-cetak span {
		font-size: 15px;
		padding-left: 10px; }
	.btn-cetak:hover {
		color: #333;
		border-color: #0f947a; }

.tabel-tagihan {
	padding: 0 10%; }

.label-warning {
	background-color: #57bb16;
	padding: 5px 10px;
	font-size: 0.9em; }

.buy-deadline {
	color: #e32b3f !important; }

.tabel-rincian .table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #D2ECE7; }
.tabel-rincian thead tr {
	background: url("../../pg_user/images/background/bg-reason.png") #1abc9c;
	background-size: 20%;}
	.tabel-rincian thead tr th {
		color: #ffffff;
		text-transform: uppercase; }
.tabel-rincian tbody tr {
	background-color: #F5F5F5; }

.upload-bayar {
	padding: 35px 12%; }

.upload-title {
	margin: 0;
	font-family: arial;
	font-size: 1.1em;
	color: #787878; }

.btn-confirm {
	float: right;
	margin: -50px 0 0;
	background-image: url("../images/sprites/bgButton3.jpg");
	border: 1px solid #dc1826;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 5px 18px; }
	.btn-confirm span {
		font-size: 15px;
		padding-left: 10px; }

.pay-bank img {
	padding: 15px 15% 25px; }
.pay-bank p {
	margin: 0 0 10px !important;
	text-align: center;
	color: #787878; }

.page-bank {
	color: #787878;
	font-weight: normal !important; }

.tabel-tagihan {
	padding: 0 10%; }

.tabel-tagihan  > table  > thead  > tr > td, .tabel-tagihan  > table  > tbody  > tr > td {
	border-bottom: solid 1px #ccc; 
}

.navbar-static-top{
	position: fixed;
	background-color: #ebeaea;
	width: 100%;
	border-bottom: 1px solid #E22B3F;
}

.akun-header{
	top: 67px;
	margin-bottom:67px;
}

.akun-container, .agcu-container {
		padding: 2% 120px;
}

.img-circle {
		width: 30px;
		height: 30px;
		display: inline-block;
		overflow: hidden;
		position: absolute;
		margin-top: -5px;
}

.lbl-nama{
	margin-left: 35px;
}

.navbar-collapse.in {
		overflow: scroll;
		max-height: 340px;
}


.navstyle ul.navbar-nav li.akun-name {
	float: left;
}

.dropdown-header{
		padding-top: 15px;
		border-bottom: 1px solid #e0e2e2;
}

.user-profile .dropdown-paket {
	top: 152%;
}

.hasil-wrapper{
	margin-top: 65px;
}

@media(max-width: 767px){
		.navbar-header {
			padding: 5px 0 5px;
		}
		.navbar-nav .open .dropdown-menu .dropdown-header {
				padding: 5px 15px 5px 0px;
		}
		.btn-full-width{
				width:100%;
		}
		.pay-method .pay-rek{
				width:100%;
		}
		.btn-bayar {
			text-transform:none;
			padding:10px;
		}
}



/* FULLPAGE LOGIN 2017-07-20 */


/* SIGN UP*/

.form-horizontal .form-group:before, .form-horizontal .form-group:after{
	display:block;
}

#profileForm > div.actions.clearfix{
	text-align:center;
}


.wizard > .steps a{
	text-align:center;
}
.wizard > .steps a *:not(:before){
	padding:10px 0;
}
.wizard > .steps a:before{
	background:white;

	width: 25px; 
	height: 25px;

	display: block;
	
	content:"";
	
	border-radius:100%;

	margin:0 auto;
}

.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active,
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
	background:none;
}
/* --- User Profile Edit --- */
/* - Data Login - */
.form-login .wizard > .content{
	background: #fff;
	min-height: 25em;
}
.form-login .wizard > .content > .body{
	padding: 0;
	width: 100%;
	height: auto;
	position:initial;
}
.form-login .wizard > .steps .current a,
.form-login .wizard > .steps .current a:hover,
.form-login .wizard > .steps .current a:active{
	background:none;
}
.form-login .wizard > .actions a,
.form-login .wizard > .actions a:hover,
.form-login .wizard > .actions a:active{
	background: #ec971f;
}
.form-login .wizard > .actions .disabled a,
.form-login .wizard > .actions .disabled a:hover,
.form-login .wizard > .actions .disabled a:active{
	background: #eee;
}
.form-login .wizard > .steps > ul > li{
	width: 45%;
}
.form-login .form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;   
}
.form-login .has-feedback .form-control{
	padding-right: 0;
}
.form-login .has-feedback.pilih-data .form-control{
	padding-right: 42.5px;
}